In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  # we will use this for plotting

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [29]:
#To see the first five in the data said, .tail for the last 5
df.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."

In [30]:
# .sample gives you random samples within the data

df.sample(10)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
386719,Senior Data Scientist,Space Performance Analytics Lead,"Denton, TX",via ZipRecruiter,Full-time,False,"Texas, United States",2023-07-17 18:02:41,False,False,United States,None,NaN,NaN,Sally Beauty Holdings,"['sql', 'python', 'excel', 'powerpoint', 'outl...","{'analyst_tools': ['excel', 'powerpoint', 'out..."
748497,Software Engineer,Software-Udvikler med fokus på Backend og Data...,"Frederiksberg, Denmark",via BeBee Danmark,Full-time,False,Denmark,2023-06-13 20:21:56,False,False,Denmark,None,NaN,NaN,Exur Insurance Technologies,"['typescript', 'azure', 'react']","{'cloud': ['azure'], 'libraries': ['react'], '..."
194748,Software Engineer,Platform Engineer,"Paris, France",via Luko,Full-time,False,France,2023-08-25 15:19:21,True,False,France,None,NaN,NaN,Luko,"['python', 'aws']","{'cloud': ['aws'], 'programming': ['python']}"
353671,Data Analyst,Data Analyst / Data Entry,Singapore,via Jobrapido.com,Full-time,False,Singapore,2023-11-19 00:08:06,True,False,Singapore,None,NaN,NaN,UNITED SOIL ENGINEERING,['excel'],{'analyst_tools': ['excel']}
227296,Machine Learning Engineer,Machine Learning Lead,"Buenos Aires, Argentina",via BeBee,Full-time,False,Argentina,2023-07-23 07:31:21,False,False,Argentina,None,NaN,NaN,Emprego,"['sql', 'nosql', 'redis', 'redshift', 'airflow...","{'cloud': ['redshift'], 'databases': ['redis']..."
621340,Data Analyst,"AVP, Management Reporting and Control, APAC (D...",Singapore,via Singapore | JobsDB,Full-time,False,Singapore,2023-07-24 12:16:32,False,False,Singapore,None,NaN,NaN,SUMITOMO MITSUI BANKING CORPORATION SINGAPORE ...,"['excel', 'powerpoint', 'alteryx', 'tableau', ...","{'analyst_tools': ['excel', 'powerpoint', 'alt..."
35556,Senior Data Engineer,"Senior Data Engineer, Wroclaw",Poland,via LinkedIn,Full-time,False,Poland,2023-05-29 13:14:00,True,False,Poland,None,NaN,NaN,Luxoft,"['sql', 'c#', 'python', 'ruby', 'ruby', 'power...","{'analyst_tools': ['power bi'], 'cloud': ['azu..."
483586,Software Engineer,"Product Analyst, Adobe Experience Platform",Anywhere,via ZipRecruiter,Contractor,True,"Texas, United States",2023-03-20 14:03:59,False,False,United States,None,NaN,NaN,The Judge Group,None,None
730516,Data Analyst,Data Analyst Intern,"Somerville, NJ",via LinkedIn,Full-time,False,"New York, United States",2023-09-04 21:00:15,False,False,United States,None,NaN,NaN,Johnson & Johnson,"['r', 'sql', 'tableau', 'power bi', 'alteryx',...","{'analyst_tools': ['tableau', 'power bi', 'alt..."
678758,Data Analyst,Data Analyst,"Taguig, Metro Manila, Philippines",via LinkedIn,None,False,Philippines,2023-03-08 10:18:13,False,False,Philippines,None,NaN,NaN,Collabera Digital,"['sql', 'python']","{'programming': ['sql', 'python']}"

In [31]:
# setting random_state to an integer will allow you to get a random sample that you can then call back when you use that integer, in this case "42"
df.sample(10, random_state=42)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
502901,Senior Data Engineer,Senior Data Engineer,"St Paul, MN",via BeBee,Full-time,False,"Florida, United States",2023-12-17 11:09:06,False,False,United States,None,NaN,NaN,ManpowerGroup,"['sql', 'azure', 'git']","{'cloud': ['azure'], 'other': ['git'], 'progra..."
406337,Senior Data Scientist,Senior Analytics Engineer,"London, UK",via LinkedIn,Full-time,False,United Kingdom,2023-10-06 16:09:56,False,False,United Kingdom,None,NaN,NaN,Harnham,"['sql', 'python', 'bigquery', 'snowflake', 'lo...","{'analyst_tools': ['looker'], 'cloud': ['bigqu..."
659951,Data Engineer,Data Engineer,"Newcastle upon Tyne, UK",via Indeed,Full-time,False,United Kingdom,2023-09-06 10:11:25,True,False,United Kingdom,None,NaN,NaN,Morgan King,None,None
541593,Data Analyst,Data Analyst,Malta,via Trabajo.org,Full-time,False,Malta,2023-02-14 21:14:18,True,False,Malta,None,NaN,NaN,Konnekt,['jira'],{'async': ['jira']}
425158,Senior Data Engineer,Senior Data Engineer. Job in Amsterdam NBC4i Jobs,"Amsterdam, Netherlands",via NBC4i Jobs,Full-time,False,Netherlands,2023-06-19 16:34:30,True,False,Netherlands,None,NaN,NaN,Independent Recruiters,['python'],{'programming': ['python']}
183426,Data Analyst,Data Analyst,Singapore,via Singapore | JobsDB,Full-time,False,Singapore,2023-11-09 16:07:57,False,False,Singapore,None,NaN,NaN,FLEXOSENSE PTE. LTD.,"['r', 'python', 'java', 'sql', 'sql server', '...","{'analyst_tools': ['tableau'], 'cloud': ['orac..."
287790,Data Analyst,Data Analyst,"Tampa, FL",via LinkedIn,Full-time,False,"Florida, United States",2023-07-14 17:02:23,True,False,United States,None,NaN,NaN,Iris Software Inc.,"['sql', 'hadoop', 'excel']","{'analyst_tools': ['excel'], 'libraries': ['ha..."
541983,Data Analyst,"Data Analyst, Cloud Systems Jobs","Chantilly, VA",via Clearance Jobs,Full-time,False,Georgia,2023-06-15 19:44:34,False,False,United States,None,NaN,NaN,SAIC,"['sql', 'r', 'matlab', 'python', 'oracle', 'aw...","{'analyst_tools': ['power bi', 'tableau', 'qli..."
416896,Data Scientist,Alternant Actuariat & Data Science H/F,France,via LinkedIn,Full-time,False,France,2023-09-22 16:47:24,False,False,France,None,NaN,NaN,KPMG France,None,None
780907,Data Engineer,"Data Engineer with Fivetran,Qlik Must","Mexico City, CDMX, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-16 06:19:09,False,False,Mexico,None,NaN,NaN,CORUS Consulting,"['oracle', 'snowflake', 'aws', 'azure', 'alter...","{'analyst_tools': ['alteryx'], 'cloud': ['orac..."

In [32]:
# .copy makes a copy of the objects indices and data

dataset = load_dataset('lukebarousse/data_jobs')
df_original = dataset['train'].to_pandas()

#above we created a new dataset called df_original

In [33]:
df_altered = df_original.copy()

In [34]:
df_altered.loc[:5, 'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [35]:
median_salary = df_altered['salary_year_avg'].median()

median_salary

115000.0

In [36]:
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

df_altered.loc[:5, 'salary_year_avg']

#The NaN values are now filled in with the median

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [38]:
df_original.loc[:5, 'salary_year_avg']

#the original dataframe also got updated, this is not a good thing! This is because df_altered was set equal to df_original, now we updated it using .copy

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [ ]:
# by using .copy we don't have to do what we did above, other datasets won't be affected
# the .copy method should be used anytime we need to create a copy of the dataframe to protect us from causing harm anywhere else